@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@layer utilities {
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animate-gradient {
    animation: gradient 4s ease infinite;
  }

  @keyframes fall {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(200%); }
  }
  
  .animate-fall {
    animation: fall 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}