version: "3.9"

services:
  backend:
    image: docker-backend:latest
    pull_policy: never
    env_file:
      - ../.env.dev.example
    environment:
      - NODE_ENV=production
      - DATABASE_FILENAME=/app/.tmp/data.db
    ports:
      - "1337:1337"
    volumes:
      - strapi-uploads:/app/public/uploads
    networks:
      - zczk-network

  frontend:
    image: docker-frontend:latest
    pull_policy: never
    env_file:
      - ../.env.dev.example
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_STRAPI_URL=http://backend:1337
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - zczk-network

volumes:
  strapi-uploads:

networks:
  zczk-network:
    driver: bridge
